<%= form_for(@note) do |f| %>
  <% if @note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@note.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul>
      <% @note.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class ="row">
<div class = "col-xs-12 col-md-6">
   <div class="field">
    <%= f.text_field :title, class: "form-control", placeholder: "Title"%></br>
  </div></div>
  <div class = "col-xs-12 col-md-6">
  <div class="field">
    <%= f.text_field :tag, class: "form-control", placeholder: "Tags (Separate by Commas)"%></br>
  </div></div></div>
  <div class="textarea">
        <%= f.text_area :note, class: "form-control", rows: 20, placeholder: "Begin Note..." %><br></div>
        <div class="actions">
    <%= f.submit "+ Note", class: "btn btn-info btn-lg" %>
  </div>
<% end %>
