<div class = "panel panel-default">
    <div class = "panel-heading">
      <h1>Listing Cases</h1>
    </div>
    <div class ="panel-body">
      <table class="table">
        <thead>
         <tr>
            <th>Name</th>
            <th>Security</th>
            <th>CID</th>
            <th>Issue</th>
            <th>Points</th>
            <th>Functions</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
      <tbody>
        <% @advertisers.each do |advertiser| %>
          <tr>
            <td><%= advertiser.name %></td>
            <td><%= advertiser.security %></td>
            <td><%= advertiser.cid %></td>
            <td><%= advertiser.issue %></td>
            <td><%= advertiser.points %></td>
            <td class="col-md-1"><%= link_to 'View Case Card', advertiser, class: "btn btn-warning" %></td>
            <td class="col-md-1"><%= link_to 'Delete', advertiser, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
          </tr>
      </tbody>
    </table>
  </div>
    </br>
    <div class= "panel-footer">
      <%= link_to 'New Case', new_advertiser_path, class: "btn btn-success btn-lg" %>
    </div>
  </div>

