<script>
  $(document).ready(function() {
    var clip = new ZeroClipboard($("#d_clip_button"))
  });

  $("#clear-test").on("click", function(){
    $("#fe_text").val("Copy me!");
    $("#testarea").val("");
  });
</script>


<p id="notice"><%= notice %></p>
<div class = "panel panel-default">
  <div class = "panel-heading">
    <div class ="row">
     <div class = "col-xs-12 col-md-9">
    <h1>Case Card for CID: <%= @advertiser.cid %></h1>
      </div>
    <div class = "col-xs-12 col-md-3">
    </div></div>
  </div>
  <div class = "panel-body">
    <div class = "form-group" > 
        <p>
      <strong>Name:</strong>
        <%= @advertiser.name%>
      </p>

      <p>
        <strong>Security:</strong>
        <%= @advertiser.security %>
      </p>

      <p>
        <strong>Cid:</strong>
        <%= @advertiser.cid %>
      </p>

      <p>
        <strong>Issue:</strong>
        <%= @advertiser.issue %>
      </p>

      <p>
        <strong>Pitch:</strong>
        <%= @advertiser.points %>
      </p>

      <p><strong>Follow Up Required:</strong></p>
    </br><!--<button class='btn btn-primary btn-lg' data-clipboard-target='fe_text' data-clipboard-text='Default clipboard text from attribute' id='d_clip_button' title='Copy Phone Note'>
    <b>Copy Phone Note</b>
  </button>-->
  </div></div>
  <div class = "panel-footer">
    <%= link_to 'Edit', edit_advertiser_path(@advertiser) %> |
    <%= link_to 'Back to Cases', advertisers_path %>
  </div></div>
  


