<h1>Listing cases</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Security</th>
      <th>Cid</th>
      <th>Issue</th>
      <th>Points</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @cases.each do |case| %>
      <tr>
        <td><%= case.name %></td>
        <td><%= case.security %></td>
        <td><%= case.cid %></td>
        <td><%= case.issue %></td>
        <td><%= case.points %></td>
        <td class="col-md-2"><%= link_to 'View', case, class: "btn btn-default" %></td>
        <td class="col-md-2"><%= link_to 'Edit', edit_case_path(case), class: "btn btn-warning" %></td>
        <td class="col-md-2"><%= link_to 'Delete', case, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Case', new_case_path %>
