<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @case.name %>
</p>

<p>
  <strong>Security:</strong>
  <%= @case.security %>
</p>

<p>
  <strong>Cid:</strong>
  <%= @case.cid %>
</p>

<p>
  <strong>Issue:</strong>
  <%= @case.issue %>
</p>

<p>
  <strong>Points:</strong>
  <%= @case.points %>
</p>

<%= link_to 'Edit', edit_case_path(@case) %> |
<%= link_to 'Back', cases_path %>
