<!DOCTYPE html>
<html>
<head>
  <title>Pitchzilla</title>
  <link rel="icon" type="image/png" href="http://www.hamovhotov.com/icon/download/fasticon/dinosaurs-toys/tyrannosaurus-rex-256x256.png" />
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%=render 'layouts/header'%>
<div class ="container">
	<% flash.each do |name, msg| %>
	<%= content_tag(:div, msg, class: "alert alert-info") %>
	<% end %>
    <%= yield %>
</div>
<script type="text/javascript">
</script>
</body>
</html>
